@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    :root {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
      --primary: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
    }
}

/* Base styles */
html, body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}


@layer utilities {
  .bg-primary-20 {
    background-color: hsl(var(--primary) / 0.2);
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}